data/BRCA_original.csv
data/BRCA_work.csv
notebooks/02_preprocessing.ipynb
notebooks/03_modelling.ipynb
notebooks/04_hyperparameter_tune.ipynb
notebooks/breast_cancer_detection copy.ipynb
scripts/update_readme.py
